.card-dash{
    height: 150px;
    width: 100%;
    border: 2px solid #000000;
    padding: 1em;
    border-radius: 11px;
    transform: scale(.98);
    transition: ease all .6s;
    cursor: pointer;

    img{
        width: 100%;
        height: 100%;
        position: relative;
        object-fit: cover;
        object-position: bottom;
        z-index: 0;
        border-radius: 10px;
    }

    .inner{
        position: relative;

        z-index: 5;
    }

    p{
        font-size: 3em;
        font-weight: 700;
        color: #000000;
    }

    &.bg-1{
        background-color: var(--color-status-purple);
    }
    &.bg-2{
        background-color: var(--color-status-pink);
    }
    &.bg-3{
        background-color: var(--color-status-orange);
    }
    &.bg-4{
        background-color: var(--color-status-green);
    }

    .card-dash-icon{
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;        
        svg{
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }

    }

    &:hover{
        transform: scale(1);

        .card-dash-icon{
            svg{
                background-color: #FFFFFF;
            }
        }
    }
}