.dashboard-list{
    height: 300px;
    width: 100%;
    padding: 5px;

    &.light-mode{
        .dashboard-list-overflow{
            .card{
                background-color: var(--color-shade);
                border: 2px solid var(--color-dark);
            }
        }
    }

    &.dark-mode{
        .dashboard-list-overflow{
            .card{
                border: 2px solid var(--color-white);
                background-color: var(--color-extra05);
                color: var(--color-white);
            }
        }
    }

    .dashboard-list-overflow{
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        &::-webkit-scrollbar{
            display: none;
        }

        .card {
            width: 100%;
            border-radius: 11px;
            text-decoration: none;
            transform: scale(.995);
            transition: ease all .6s;

            .status{
                text-align: center;
                padding: .1em .3em;
                border-radius: 500px;

                &.a-fazer{
                    background-color: var(--color-status-pink-light);
                    color: var(--color-status-pink);
                }

                &.em-progresso{
                    background-color: var(--color-status-orange-light);
                    color: var(--color-status-orange);
                }

                &.finalizada{
                    background-color: var(--color-status-green-light);
                    color: var(--color-status-green);
                }
            }
            
            &:hover{
                transform: scale(1);
            }
        }
    }
}

@media screen and (min-width:720px) {
    .dashboard-list{
        height: 460px;
    }
}