.footer{
    height: 230px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    bottom: 0;

    p{
        margin-bottom: 15px;
        .a-footer{
            color: var(--color-body);
            text-decoration: none;
        }
    }
}

@media screen and (max-width:'780px') {
    .footer{
        height: 95px;

        p{
            font-size: 1em;
        }
    }
}